# ESPHome specific
.esphome

# Python virtual environments
.venv
venv/

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python package metadata
*.egg-info/
dist/
build/

# Development and testing
tests/
pyproject.toml